{% extends "suggest_parts/base.html" %}
{% block content %}

<h1>予算内で最適なPCパーツの組み合わせを選びます</h1>
<p><font color="red">※価格は 2020/2/5 確認分です</font></p>

<p>予算を入力してください(必須)、その他の条件は任意でお願いします。</p>

<form action="/suggest_parts/send" method="post">
    <p>予算[万円]<font color="red">(*必須)</font>: <input type="number" name="budget" step="0.0001"></p>
    <p>HDD or SSD
    <select name="hdd_ssd">
        <option value="free">free</option>
        <option value="hdd">hdd</option>
        <option value="ssd">ssd</option>
    </select></p>
    <p>CPUメーカー
    <select name="cpu_maker">
        <option value="free">free</option>
        <option value="intel">Intel</option>
        <option value="AMD">AMD</option>
    </select></p> 
    <p>ビデオカードのチップメーカー
    <select name="gpu_maker">
        <option value="free">free</option>
        <option value="NVIDIA">NVIDIA</option>
        <option value="AMD">AMD</option>
    </select></p>
    <p>ストレージの最小容量[GB] : 
        <input type="number" name="capacity" step="0.001">
    </p>
    <p>ビデオカードのURL(価格.com)
        <input type="text" name="gpu_url">
        <a href="https://kakaku.com/pc/videocard/itemlist.aspx" target="_blank">価格.com(ビデオカード)</a>
        <br>
        ex1. https://kakaku.com/item<b>/Kxxxxxx/</b>(?...) </br>
        ex2. https://s.kakaku.com/item<b>/Kxxxxxx/</b>(?...)
    </p>
    <input type="submit" value="検索" onClick="OnButtonClick();">
</form>

<div id="searching"></div>

{% if not values.is_default %}
<p>----------</p>
<h2><font color="red">結果</font></h2>
    {% if values.not_found %}
        <p>組み合わせが見つかりませんでした、別の条件を入力してください。</p>
    {% else %}
        {% if values.budget %}
            <p>CPU : <a href="{{ values.cpu_url }}" target="_blank">{{ values.cpu }}</a>  / {{ values.cpu_price }} 円</p>
            <p>Graphic : <a href="{{ values.gpu_url }}" target="_blank">{{ values.gpu }}</a> / {{ values.gpu_price }} 円</p>
            <p>Memory : <a href="{{ values.ram_url }}" target="_blank">{{ values.ram }}</a> / {{ values.ram_price }} 円</p>
            <p>{{ values.r_hdd_ssd }} [{{ values.r_capacity }} GB]: <a href="{{ values.disk_url }}" target="_blank">{{ values.disk }}</a> / {{ values.disk_price }} 円</p>
            <p>score: {{ values.SCORE }}</p>
            <p>price: {{ values.PRICE }}円</p>
        {% else %}
            <p>予算を入力してください。。。</p>
        {% endif %}
    {% endif %}
<p>----------</p>
<br>
{% endif %}

<br>

<h2><font color="blue">組み立て例とスコア</font></h2>
{% for example in values.examples %}
<p>CPU : <a href="{{ example.cpu_url }}" target="_blank">{{ example.cpu }}</a> / {{ example.cpu_price }}円</p>
<p>Graphic : <a href="{{ example.gpu_url }}" target="_blank">{{ example.gpu }}</a> / {{ example.gpu_price}}円</p>
<p>Memory : <a href="{{ example.ram_url }}" target="_blank">{{ example.ram }}</a> / {{ example.ram_price }}円</p>
<p>{{ example.hdd_ssd }} [{{ example.capacity }} GB]: <a href="{{ example.disk_url }}" target="_blank">{{ example.disk }}</a> / {{ example.disk_price }}円</p>
    <p>score: {{ example.SCORE }}</p>
    <p>price: {{ example.PRICE }}円</p>

    <p>----------</p>
    <br>
{% endfor %}
{% endblock %}
