{% extends "base.html" %}
{% block content %}

<h1>予算内で最適なPCパーツの組み合わせを選びます</h1>

<form action="/send" method="post">
    <p>予算 : <input type="number" name="budget"></p>
    <p>HDD or SSD
    <select name="hdd_ssd">
        <option value="free">free</option>
        <option value="hdd">hdd</option>
        <option value="ssd">ssd</option>
    </select></p>
    <p>CPUメーカー
    <select name="cpu_maker">
        <option value="free">free</option>
        <option value="intel">Intel</option>
        <option value="AMD">AMD</option>
    </select></p> 
    <p>Cビデオカードのチップメーカー
    <select name="gpu_maker">
        <option value="free">free</option>
        <option value="NVIDIA">NVIDIA</option>
        <option value="AMD">AMD</option>
    </select></p>
    <p>ディスクの最小容量[GB] : 
        <input type="number" name="capacity">
    </p>
    <p>ビデオカードのURL(価格.com)
        <input type="text" name="gpu_url">
        <a href="https://kakaku.com/pc/videocard/itemlist.aspx">価格.com(ビデオカード)</a>
        <br>
        ex. https://kakaku.com/item/xxxxxxx/
    </p>
    <input type="submit" value="submit">
</form>

{% if not values.is_default %}

    {% if not values.error %}
        {% if values.not_found %}
            <p>Not Found</p>
        {% else %}
            {% if values.budget %}
                <p>CPU : <a href="{{ values.cpu_url }}">{{ values.cpu }}</a> </p>
                <p>Graphic : <a href="{{ values.gpu_url }}">{{ values.gpu }}</a> </p>
                <p>Memory : <a href="{{ values.ram_url }}">{{ values.ram }}</a> </p>
                <p>DISK : <a href="{{ values.disk_url }}">{{ values.disk }}</a> </p>
                <p>score: {{ values.SCORE }}</p>
                <p>price: {{ values.PRICE }}</p>
            {% else %}
                <p>budget is unexpected value.<br>Please input number in textbox</p>
            {% endif %}
        {% endif %}
    {% else %}
        <p>error</p>
    {% endif %}

{% endif %}

{% endblock %}
