{% extends "base.html" %}
{% block content %}

<h1>予算内で最適なPCパーツの組み合わせを選びます</h1>

<form action="/send" method="post">
    <p>予算<font color="red">(必須)</font>: <input type="number" name="budget"></p>
    <p>HDD or SSD
    <select name="hdd_ssd">
        <option value="free">free</option>
        <option value="hdd">hdd</option>
        <option value="ssd">ssd</option>
    </select></p>
    <p>CPUメーカー
    <select name="cpu_maker">
        <option value="free">free</option>
        <option value="intel">Intel</option>
        <option value="AMD">AMD</option>
    </select></p> 
    <p>ビデオカードのチップメーカー
    <select name="gpu_maker">
        <option value="free">free</option>
        <option value="NVIDIA">NVIDIA</option>
        <option value="AMD">AMD</option>
    </select></p>
    <p>ディスクの最小容量[GB] : 
        <input type="number" name="capacity">
    </p>
    <p>ビデオカードのURL(価格.com)
        <input type="text" name="gpu_url">
        <a href="https://kakaku.com/pc/videocard/itemlist.aspx">価格.com(ビデオカード)</a>
        <br>
        ex1. https://kakaku.com/item/Kxxxxxx/ </br>
        ex2. https://kakaku.com/item/Kxxxxxx/?... </br>
        ex3. https://s.kakaku.com/item/Kxxxxxx/ </br>
        ex4. https://s.kakaku.com/item/Kxxxxxx/?...
    </p>
    <input type="submit" value="検索" onClick="OnButtonClick();">
</form>

<div id="calculating"></div>

{% if not values.is_default %}
    {% if values.not_found %}
        <p>組み合わせが見つかりませんでした、別の条件を入力してください。</p>
    {% else %}
        {% if values.budget %}
            <p>CPU : <a href="{{ values.cpu_url }}">{{ values.cpu }}</a> </p>
            <p>Graphic : <a href="{{ values.gpu_url }}">{{ values.gpu }}</a> </p>
            <p>Memory : <a href="{{ values.ram_url }}">{{ values.ram }}</a> </p>
            <p>DISK : <a href="{{ values.disk_url }}">{{ values.disk }}</a> </p>
            <p>score: {{ values.SCORE }}</p>
            <p>price: {{ values.PRICE }}</p>
        {% else %}
            <p>予算を入力してください。。。</p>
        {% endif %}
    {% endif %}
</div>
{% endif %}

{% endblock %}
